[Desktop Entry]
Version=1.0
Name=SuperCPN
Comment=Open source chart plotter / navigator
Exec=supercpn
Icon=supercpn
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;Geography;
Keywords=GPS;Navigation;Chart;
